@import './variables.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-family: 'Finlandica', sans-serif;
}

@import './home.scss';
@import './nav.scss';
@import './footer.scss';