@import './variables.scss';
@import './mixins.scss';

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
}

@import './home.scss';
@import './nav.scss';
@import './footer.scss';